<p>
  This is the Index
</p>

<% @photos.each do |photo| %>
  <p>
    Created At:
    <%= photo.created_at %>
    File Name:
    <%= photo.pic_file_name %>
    Image Type:
    <%= photo.pic_content_type %>
    File Size:
    <%= photo.pic_file_size %>
    Image:
    <div style="float:left;">
      <%= image_tag photo.pic.url(:medium) %>
    </div>
    <p style="width:300px;float:left;margin-left:40px;">
      <%= photo.ocr %>
    </p>
    <p style="width:300px;float:left;margin-left:40px;">
      <% image = RTesseract.new(photo.pic.path) %>
      <% ocr = image.to_s %>
      <%= ocr %>
    </p>
    <div style="clear:both;"></div>
  </p>
<% end %>

<% footer="PISI-Reader" %>
<%= footer %>
